.comments__avgrate{
	display: flex;
}

.comments__avgrate > p{
	margin-top: 2px;
	margin-right: 3px;
}

.writereview{
	background: #17a288;
	color: white;
}


.auth__buttons > a{
	background: #17a288;
	margin-right: 10px;
}

.comments__box{
	text-align: initial;
}

.user__info > p{
	margin-bottom: 0px;
}

.userInfo__withrating{
	display: flex;
}