.createBlog__nav{
	background: lightgray;
}

.createBlog__nav > button{
	outline: none;
	border:none;
}

.dropzone{
	border:1px dotted;
	padding: 35px;
}

input::-webkit-calendar-picker-indicator {
  display: none;
}

.createBlog__nav > a{
	margin-top: 10px;
	margin-right: 4px;
	background-color: #17a288;
	color: white;
}

.descdata > p{
	text-align: justify;
}